<div class="bg-white shadow rounded-lg">
  <div class="px-4 pt-3 flex justify-between items-start gap-4">
    <div class="flex-grow">
      <h2 class="font-semibold text-lg">
        <%= link_to record.title, [:forge, record], class: "text-blue-700 hover:underline" %>
      </h2>
      <p class="text-sm text-gray-500 mt-1">
        by <%= record.author.displayname %>
      </p>
    </div>

    <% if record.tags.any? %>
      <div class="mt-0.5 flex flex-wrap gap-2">
        <% record.tags.order(:name).each do |tag| %>
            <span class="px-2 py-1 text-xs leading-4 font-semibold rounded bg-gray-100 text-gray-800">
              #<%= tag.name %>
            </span>
        <% end %>
      </div>
    <% end %>

    <div class="flex-shrink-0 text-sm flex items-center gap-2">
      <% if policy(record).edit? %>
        <%= link_to 'Edit', [:edit, :forge, record], class: 'text-xs inline-block px-3 py-1 border bg-blue-100 border-blue-600 hover:bg-blue-300 rounded' %>
      <% end %>
      <% if policy(record).destroy? %>
        <span class="mx-1 text-gray-600">|</span>
        <%= link_to 'Delete', [:forge, record], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-xs inline-block px-3 py-1 border bg-red-100 border-red-600 hover:bg-red-300 rounded' %>
      <% end %>
    </div>
  </div>

  <% summary_partial = render 'shared/content_entry_summary', record: record %>
  <% if summary_partial.present? %>
    <div class="px-4 pt-1">
      <%= summary_partial %>
    </div>
  <% end %>
</div>
