<% content_for :title, @article.title %>

<%= render 'pub/shared/search_block' %>

<div class="bg-white p-6 md:p-8 rounded-lg shadow-md">
  <%= render 'pub/shared/content_header', back_path: pub_locations_path, back_path_text: 'Back to all articles', record: @article %>

  <header class="border-b pb-4 mb-6">
    <h1 class="text-4xl font-bold text-gray-900"><%= @article.title %></h1>
    <p class="text-sm text-gray-500 mt-2">
      Published on <%= @article.published_at.strftime("%B %d, %Y") %> by <%= @article.author.displayname %>
    </p>
  </header>

  <div class="prose max-w-none" data-controller="wikilink-preview">
    <%= render_markdown(@article.body) %>
  </div>

  <div class="border-t pt-6">
    <%= render 'pub/shared/content_header', back_path: pub_articles_path, back_path_text: 'Back to all articles', record: @article %>
  </div>
</div>
