<h2 class="text-xl font-semibold mb-4">Meanings:</h2><div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-3xl font-bold">Lexeme: <%= @lexeme.spelling %></h1>
      <p class="text-xl text-gray-500 font-normal">Lang: <%= @lexeme.language.name.downcase %></p>
    </div>
    <div>
      <%= link_to 'Edit Lexeme', edit_forge_lexeme_path(@lexeme), class: 'text-xs font-bold inline-block border bg-yellow-300 border-yellow-500 hover:bg-yellow-200 rounded py-2 px-4' %>
      <%= link_to 'Add Meaning (Homonym)', new_forge_lexeme_word_path(@lexeme), class: 'text-xs font-bold inline-block border bg-green-400 border-green-600 hover:bg-green-300 rounded py-2 px-4' %>
      <%= link_to 'Back to List', forge_lexemes_path, class: 'text-xs font-bold inline-block border bg-blue-400 border-blue-600 hover:bg-blue-300 rounded py-2 px-4' %>
    </div>
  </div>

  <%= render 'morphemic_structure', lexeme: @lexeme %>

  <div class="mb-6 pb-6 border-b">
    <p class="text-gray-800">
      <span class="text-lg font-semibold text-gray-700">Origin:</span>
      <% unless @lexeme.origin_unspecified? %>
        <span class="ml-2 font-semibold capitalize"><%= @lexeme.origin_type %></span>
        <% if (@lexeme.origin_inherited? || @lexeme.origin_borrowed?) && @lexeme.origin_language %>
          from <%= link_to @lexeme.origin_language.name, forge_language_path(@lexeme.origin_language), class: "text-blue-600 hover:underline" %>
        <% end %>
      <% else %>
        <span class="ml-2 text-gray-500 italic">Not specified.</span>
      <% end %>
    </p>
  </div>

  <h2 class="text-xl font-semibold mb-4">Meanings:</h2>

  <% if @words.any? %>
    <div class="space-y-6">
      <% @words.each do |word| %>
        <div class="bg-white shadow rounded-lg p-4 border relative">
          <div class="absolute top-2 right-2">
            <%= link_to 'Edit', edit_forge_word_path(word), class: 'text-xs inline-block px-3 py-1 border border-blue-600 bg-blue-100 hover:bg-blue-300 rounded mt-3' %>
            <span class="mx-1 text-gray-600">|</span>
            <%= link_to 'Delete', forge_word_path(word), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-xs inline-block px-3 py-1 border bg-red-100 hover:bg-red-300 rounded mt-3' %>
          </div>

          <p class="text-gray-600 text-basem my-1">[<%= word.transcription %>]</p>
          <p class="text-sm text-gray-500 my-1 italic"><%= word.parts_of_speech.map(&:code).join(', ') %></p>
          <p class="font-semibold text-lg mt-2"><%= render_markdown(word.definition) %></p>


          <div class="mt-4 pt-4 border-t">
            <% if word.etymology.present? %>
              <details class="group bg-slate-100 rounded-lg">
                <summary class="list-none flex items-center justify-between p-3 cursor-pointer font-semibold text-gray-700 hover:bg-slate-300 rounded-lg">
                  Etymology

                  <span class="transition group-open:rotate-90">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                  </span>
                </summary>

                <div class="prose max-w-none text-gray-800 p-3 mt-1" data-controller="wikilink-preview">
                  <%= render_markdown(word.etymology.explanation) %>
                  <hr>
                  <% if word.etymology.comment.present? %>
                    <p class="text-sm italic text-gray-500 mt-2">
                      <%= render_markdown(word.etymology.comment) %>
                    </p>
                  <% end %>
                </div>
              </details>
            <% else %>
              <p class="text-sm text-gray-400 italic">No etymology has been added. You can add one by editing this meaning.</p>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  <% else %>
    <div class="bg-white shadow rounded-lg p-6 text-center text-gray-500 italic">
      <p>This lexeme currently has no meanings.</p>
    </div>
  <% end %>
</div>
