<div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Locations</h1>
    <% if policy(Location).new? %>
      <%= link_to 'New Location', new_forge_location_path, class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
  </div>

  <div class="flex flex-col gap-3">
    <% @locations.each do |location| %>
      <div class="bg-white shadow rounded-lg p-4">
        <div class="flex justify-between items-center">
          <div>
            <h2 class="font-semibold text-lg">
              <%= link_to location.title, forge_location_path(location), class: "text-blue-600 hover:underline" %>
            </h2>
            <p class="text-sm text-gray-500 mt-1">
              Parent: <%= location.parent_location&.title || "None" %>
            </p>
          </div>
          <div class="flex-shrink-0 ml-4 flex items-center gap-4 text-sm">
            <% if policy(location).edit? %>
              <%= link_to 'Edit', edit_forge_location_path(location), class: 'text-indigo-600 hover:text-indigo-900' %>
            <% end %>
            <% if policy(location).destroy? %>
              <%= link_to 'Delete', forge_location_path(location), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-red-600 hover:text-red-900' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="my-4">
    <%= render "shared/pagination_controls", pagy: @pagy %>
  </div>
</div>
