<% content_for :title, "Search Results for '#{@query}'" %>

<div class="bg-white p-6 rounded-lg shadow-md">
  <div class="border-b pb-4 mb-6">
    <h1 class="text-3xl font-bold">Search Results</h1>
    <% if @query.present? %>
      <p class="mt-1 text-gray-600">
        Found <%= @pagy.count %> <%= 'result'.pluralize(@pagy.count) %> for "<%= @query %>" in <strong class="capitalize"><%= @scope_name %></strong>.
      </p>
    <% end %>
  </div>

  <% if @results.any? %>
    <div class="flex flex-col gap-3">
      <% @results.each do |result| %>
        <%= render 'result', result: result %>
      <% end %>
    </div>

    <div class="mt-8">
      <%= render "shared/pagination_controls", pagy: @pagy %>
    </div>
  <% elsif @query.present? %>
    <p class="text-gray-500 italic">Nothing found. Try other keywords.</p>
  <% end %>
</div>
