<div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Characters</h1>
    <% if policy(Character).new? %>
      <%= link_to 'Create character', new_forge_character_path, class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
  </div>

  <div class="flex flex-col gap-3">
    <% @characters.each do |character| %>
      <div class="bg-white shadow rounded-lg p-4 flex justify-between items-start gap-4">
        <%= link_to forge_character_path(character), class: "flex-grow group" do %>
          <h2 class="font-semibold text-lg text-blue-700 group-hover:text-blue-900 group-hover:underline">
            <%= character.title %>
          </h2>
          <p class="text-sm text-gray-500 mt-1">
            by <%= character.author.displayname %>
          </p>
        <% end %>

        <% if character.tags.any? %>
          <div class="mt-2 flex flex-wrap gap-2">
            <% character.tags.order(:name).each do |tag| %>
            <span class="px-2 py-1 text-xs leading-4 font-semibold rounded-full bg-gray-100 text-gray-800">
              #<%= tag.name %>
            </span>
            <% end %>
          </div>
        <% end %>

        <div class="flex-shrink-0 text-sm flex items-center gap-2">
          <% if policy(character).edit? %>
            <%= link_to 'Edit', edit_forge_character_path(character), class: 'text-xs inline-block px-3 py-1 border bg-blue-100 border-blue-600 hover:bg-blue-300 rounded' %>
          <% end %>
          <% if policy(character).destroy? %>
            <span class="mx-1 text-gray-600">|</span>
            <%= link_to 'Delete', forge_character_path(character), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-xs inline-block px-3 py-1 border bg-red-100 border-red-600 hover:bg-red-300 rounded' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="my-4">
    <%= render "shared/pagination_controls", pagy: @pagy %>
  </div>
</div>
