<div class="p-6">
  <div class="flex justify-between items-start mb-4">
    <div>
      <h1 class="text-2xl font-bold">Affix Categories</h1>
      <h2 class="text-xl text-gray-500 font-normal">Language: <%= @language.name %></h2>
    </div>
    <%= link_to 'New Category', new_forge_language_affix_category_path(@language), class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded flex-shrink-0' %>
  </div>

  <div class="flex flex-col gap-3">
    <% @affix_categories.each do |category| %>
      <div class="bg-white shadow rounded-lg p-4">
        <div class="flex justify-between items-start">
          <div class="flex-grow pr-4">
            <h2 class="font-semibold text-lg"><%= category.name %></h2>
            <% if category.description.present? %>
              <p class="text-sm text-gray-600 mt-1"><%= category.description %></p>
            <% end %>
          </div>
          <div class="flex-shrink-0 ml-4 text-sm flex items-center gap-2 px-2 border-l border-blue-100">
            <%= link_to 'Edit', edit_forge_language_affix_category_path(@language, category), class: 'text-xs inline-block px-3 py-1 border bg-blue-100 border-blue-600 hover:bg-blue-300 rounded' %>
            <span class="mx-1 text-gray-600">|</span>
            <%= link_to 'Delete', forge_language_affix_category_path(@language, category), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-xs inline-block px-3 py-1 border bg-red-100 border-red-600 hover:bg-red-300 rounded' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
