<div class="p-6">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold">Languages</h1>
    <% if policy(Language).new? %>
      <%= link_to 'New Language', new_forge_language_path, class: 'bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
  </div>

  <%# Контейнер для списка карточек %>
  <div class="flex flex-col gap-3">
    <% @languages.each do |language| %>
      <div class="bg-white shadow rounded-lg p-4">
        <div class="flex justify-between items-center">
          <%# Левая часть: Название, код и родительский язык %>
          <div>
            <h2 class="font-semibold text-lg">
              <%= link_to language.name, forge_language_path(language), class: "text-blue-600 hover:underline" %>
            </h2>
            <div class="flex items-baseline gap-4 mt-1">
              <p class="font-mono text-sm text-gray-500" title="System code"><%= language.code %></p>
              <p class="text-sm text-gray-600">
                <span class="text-gray-400">Parent:</span> <%= language.parent_language&.name || "None" %>
              </p>
            </div>
          </div>

          <%# Правая часть: Кнопки действий %>
          <div class="flex-shrink-0 ml-4 text-sm flex items-center gap-2">
            <% if policy(language).edit? %>
              <%= link_to 'Edit', edit_forge_language_path(language), class: 'text-xs inline-block px-3 py-1 border bg-blue-100 border-blue-600 hover:bg-blue-300 rounded' %>
            <% end %>
            <% if policy(language).destroy? %>
              <%= link_to 'Delete', forge_language_path(language), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-xs inline-block px-3 py-1 border bg-red-100 border-red-600 hover:bg-red-300 rounded' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
